@import "./variables.scss";
@import "~bulma/bulma.sass";

.primary-hero {
  display: flex;
  background: linear-gradient(to top, $primary, $secondary);
}
.has-shadow {
  @include desktop {
    box-shadow: 0 0px 35px rgba(0, 0, 0, 0.8);
    margin: 40px;
  }
}
