[Desktop Entry]
Name=Ori3nt8
Exec=ori3nt8
Icon=ori3nt8
Type=Application
Categories=Graphics;
Comment=Program for automatically rotating photos using neural networks
MimeType=inode/directory;audio/flac;
Name[en]=Ori3nt8
Terminal=false
StartupNotify=true
NoDisplay=false